<%= link_to 'Edit Details', edit_team_path(@team) %>
<%= link_to 'Add task', new_team_task_path(@team) %>

<h2> The team: </h2>

Name: <%= @team.name %>
<br>
Division <%= @team.division %>

<br>
Team members:
<br>
<% @team.users.each do |user| %>
Name: <%= user.name %>
<br>

<% end %>