<%= link_to 'Edit Details', edit_team_path(@team) %>
<%= link_to 'Add BAU', new_team_task_path(@team, type: "Bau") %>
<%= link_to 'Add Project', new_team_task_path(@team) %>

<h2> The team: </h2>

Name: <%= @team.name %>
<br>
Division <%= @team.division %>

<br>
<h2> Team members: </h2>
<br>
<% @team.users.each do |user| %>
Name: <%= user.name %>
<br>

<% end %>

<h2> Tasks for the team: </h2>
<br>
<% @team.tasks.each do |task| %>
<br>
Description: <%= task.description %>
<br>
Type: <%= task.type %>
<br>
<%= link_to 'Add Comment', new_task_comment_path(task) %>
<br>

<%end%>


