<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :job_title %><br />
  <%= f.text_field :job_title %></div>

  <div><%= f.label :team_mgr %><br />
  <%= f.check_box :team_mgr %></div>
  
  <%= options_from_collection_for_select(Team.all, :id, :name) %>
  <div><%= f.label :team_id %><br />
  <%= collection_select(:user, :team_id, Team.all, :id, :name) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
