<div class="dotted_backgroud">
  <div class="task_management">
  

  <div class="nav_container">
    <ul>
      <li><%= link_to 'Calendar', tasks_calendar_path %></li>
      <li><%= link_to 'Huddle', tasks_huddle_path %></li>
      <li><%= link_to 'Dashboard', tasks_dashboard_path %></li>
      <li><%= link_to 'BAU', tasks_baus_path %></li>
      <li><%= link_to 'Projects', tasks_projects_path %></li>
      <li><%= link_to 'Issues', tasks_issues_path %></li>
    </ul>
  </div>
  </div>

  <!-- <div class="view_container"> -->
  <div id="view_carousel">
    <% @calendar_views.each do |calendar| %> 
    <%= calendar_for(calendar, :year => @date.year, :month => @date.month) do |calendar| %>
  <%= calendar.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
  <%= calendar.day(:day_method => :due_date) do |date, tasks| %>
  <div class="day_block">
  <%= date.day %>
  <% tasks.each do |task| %>
  <div class="task_card">
  <%= link_to task.type, task_path(task) %>
  </div>
  <% end %>
  </div>
  <% end %>
  <% end %>
  <% end %>
  </div>
  </div>


  <!-- </div> -->



<script>

$(document).ready(function () {
  $("#view_carousel").waterwheelCarousel({
    horizon: 110,
    horizonOffset: -50,
    horizonOffsetMultiplier: .7,
    separation: 250,
    edgeFadeEnabled: true,
    selector: 'table',
    preloadImages: false,
    clickedCenter: function(element) {
      // window.location.href=element.children('a').attr('href');
    }
  });
});

$(".task_card a").click(function() {
  window.location = $(this).attr('href');
});



</script>