<%= form_for ([@team, @task]) do |f| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited
      this review from being saved:</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1> Add your task: </h1>

<p>
<%= f.label :description %><br>
<%= f.text_area :description %>
</p>

<p>
<%= options_from_collection_for_select(@team.users.all, :id, :name) %>
<%= f.label :owner %><br>
<%= collection_select(:task, :owner, @team.users.all, :id, :name) %>
</p>

<p>
<%= f.label :due_date %><br>
<%= f.date_select :due_date %>
</p>

<p>
<%= options_for_select(['To Do', 'In-Progress', 'Complete']) %>
<%= f.label :status %><br>
<%= f.select :status, options_for_select(['To Do', 'In-Progress', 'Complete']) %>
</p>

<% if @task.type == "Bau" %>
<%= f.hidden_field :type, value: 'Bau' %>
<p>
<%= f.label :time %><br>
<%= f.text_field :time %>
</p>

<p>
<%= f.label :report_tag %><br>
<%= f.text_field :report_tag %>
</p>

<p>
<%= f.label :expected_hrs %><br>
<%= f.text_field :expected_hrs %>
</p>

<% else %>
<%= f.hidden_field :type, value: 'Project' %>
<p
<%= f.label :requested_by %><br>
<%= f.text_field :requested_by %>
</p>

<% end %>

<%= f.submit %>

<% end %>