

<%= form_for @task do |f| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited
      this review from being saved:</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="new_task_container">
<h4> Add your task: </h4>
	<div class='form_box'>
		
		<p><%= options_from_collection_for_select(@team.users.all, :id, :name) %>
	  <p><%= f.label :owner %><br>
	  <p><%= collection_select(:task, :owner, @team.users.all, :id, :name) %></p>
	  <p><%= f.label :due_date %></p> 
	  <p><%= f.date_field :due_date %></p>
	  <p><%= options_for_select(['To Do', 'In-Progress']) %></p>
		<p><%= f.label :status %></p>
		<p><%= f.select :status, options_for_select(['To Do', 'In-Progress']) %></p>
		<p><%= f.label :time %></p>
		<p><%= f.time_field :time %></p>
	</div>

	<div class='form_box' id="middle">
		<p><%= f.label :activity_description %></p>
		<p><%= f.text_area :description %></p>
		<div class="new_button">
		  <%= f.submit %>
    </div>
	</div>
	<div class='form_box'>
		<p><%= options_for_select(['Bau', 'Project']) %></p>
		<p><%= f.label :task_type %></p>
		<p><%= f.select :type, options_for_select(['Bau', 'Project']) %></p>
		<p><%= options_for_select(['Profit and Loss', 'Balance Sheet', 'Regulatory', 'Cash Flow']) %></p>
		<p><%= f.label :report_tag %></p>
		<p><%= f.select :report_tag, options_for_select(['Profit and Loss', 'Balance Sheet', 'Regulatory', 'Cash Flow']) %></p>
		<p><%= f.label :expected_hrs %></p>
		<p><%= f.time_field :expected_hrs %></p>
		<p><%= options_for_select(['Manager', 'Division', 'Customer']) %></p>
		<p><%= f.label :requested_by %></p>
		<p><%= f.select :requested_by, options_for_select(['Manager', 'Division', 'Customer']) %></p>
</div>
	
</div>

</div>

<% end %>

<script>

</script>
