<div class="dotted_backgroud">

<div class="task_management">
<div class="nav_container">
  <ul>
    <li><%= link_to 'Calendar', tasks_calendar_path %></li>
    <li><%= link_to 'Huddle', tasks_huddle_path %></li>
    <li><%= link_to 'Dashboard', tasks_dashboard_path %></li>
    <li><%= link_to 'BAU', tasks_baus_path %></li>
    <li><%= link_to 'Projects', tasks_projects_path %></li>
    <li><%= link_to 'Issues', tasks_issues_path %></li>
  </ul>
</div>
</div>

<%= stylesheet_link_tag "card_show" %>
<%#= @task.inspect %>
<%#= render 'tasks_card', task: @task %>
  <div class="card_show_container">

  <div class="comment_list_container">
   	  <span>Comments:</span>
  <% @task.comments.each do |comment| %>
    <div class="comment_container">
      <p><%= comment.description %></p>
     <!--  <span> Commented by: comment.user_id.email </span> -->
    </div>
  <% end %>
  </div>

  <div class="bottom_left">
    asdasdasdasdasd
  </div>

  <div class="right_block">
    <div class="description">
      <span>Task Description</span>
      <p><%= @task.description%></p>
    </div>  
    <div class="description">
      <span>Date due Month</span>
      <p><%=@task.due_date.month %></p>
    </div>
    <div class="description">
      <span>Time due</span>
      <p><%=@task.time%></p>
    </div>
    <div class="description">
      <span>Task Owner</span>
      <p><%=@task.owner%></p>
    </div>
    <div class="description">
      <span>Expected Hours</span>
      <p><%=@task.expected_hrs%></p>
    </div>
    <div class="description">
      <span>Task Status</span>
      <p><%= @task.status%></p>
    </div>
    <div class="description">
      <span>Requested by</span>
      <p><%= @task.requested_by%></p>
    </div>
    <div class="description">
      <span>Report Tag</span>
      <p><%= @task.report_tag%></p>
    </div>
  </div>

</div>
</div>