<div class="nav_container">
  <ul>
    <li><%= link_to 'Calendar', tasks_calendar_path %></li>
    <li><%= link_to 'Huddle', tasks_huddle_path %></li>
    <li><%= link_to 'Dashboard', tasks_dashboard_path %></li>
    <li><%= link_to 'BAU', tasks_baus_path %></li>
    <li><%= link_to 'Projects', tasks_projects_path %></li>
    <li><%= link_to 'Issues', tasks_issues_path %></li>
  </ul>
</div>
<%#= @task.inspect %>
<%#= render 'tasks_card', task: @task %>
<div class="card_show_container">

<div class="left_block">
 	  <h4>Task Description</h4>
    <p><%= @task.description%></p>
    <h4>Date due</h4>
    <p><%=@task.due_date%></p>
    <h4>Time due</h4>
    <p><%=@task.time%></p>
    <h4>Task Owner</h4>
    <p><%=@task.owner%></p>
    <h4>Expected Hours</h4>
    <p><%=@task.expected_hrs%></p>
</div>

  <div class="comment_list_container">
      <h4>Comments:</h4>
    <% @task.comments.each do |comment| %>
    <div class="comment_container">
      <p><%= comment.description %></p>
      <span> Commented by: comment.user_id.email </span>
    </div>
    <% end %>
  </div>

  <div class="status_position">
     <p>Task Status</p>
     <p>In-progress</p>
   </div>
  

</div>