<% if user_signed_in? %>

<div class="sticky_pull" id="pull">
		<%= image_tag("profile_pic.png", class: "profile_pic") %>
		<%= image_tag("profile_arrow.png", class: "profile_arrow") %>		
</div>

<div class="profile_container">
	<div class="profile_content">
		<div class="nav_account">
			 <div class="nav_profile">
			<span>Account</span><br>
			<h6>Simon Whittaker</h6>
			<button>Sign Out</button>
			</div>
		</div>
		<div class="content">
		<div class="left_block">
			<div class="heading">
			<h6>Thursday 19 December 2013</h6>
			
				</div>
				<ul>
					<li><%#= @comments.pop.description %></li>
					<li>You have a Notification</li>
					<li>You have a Notification</li>
					<li>You have a Notification</li>
				</ul>
		</div>
		<div class="right_block">
			<div class="heading">
				<h6>Tasks - 5 Tasks due Today</h6>

			</div>
				<ul>
						<li><%= @tasks.pop.description %></li>
						<li><%= @tasks.pop.description %></li>
						<li><%= @tasks.pop.description %></li>
						<li><%= @tasks.pop.description %></li>
						<li><%= @tasks.pop.description %></li>
						

				
				</ul>
		</div>
		</div>
	</div>
  </div>

</div>
<% end %>
<script>

$(".sticky_pull").click(function() {
  	$(".profile_content").toggleClass("profile_click");
  	console.log('Hello');
});

pully = $('#pull.sticky_pull');

$(function() {
           pully.mouseover(function() {
             $( '#pull' ).addClass( 'sticky_pull2' );
             $( '.profile_arrow' ).addClass( 'profile_arrow2' );
           });
       });

$(function() {
           pully.mouseout(function() {
             $( '#pull' ).removeClass( 'sticky_pull2' );
             $( '.profile_arrow' ).removeClass( 'profile_arrow2' );
           });
       });

</script>