<div class="slide2">
  
  <nav class="container">
    
    <div class='box'>
      <img src="<%= asset_path 'thumb_workflow.png'%>" />
    </div>

    <div class='box'>
  <img src="<%= asset_path 'thumb_resources.png'%>" />
    </div>

    <div class='box'>
      <img src="<%= asset_path 'spike_thumb.png'%>" />
    </div>

     <div class='box'>
    <img src="<%= asset_path 'thumb_account_files.png'%>" />
    </div>

     <div class='box'>
            <img src= "<%= asset_path 'thumb_request.png'%>" />
    </div>

    <div class='box'>
            <img src="<%= asset_path 'thumb_links.png'%>" />
    </div>

     <div class='box'>
    <img src="<%= asset_path 'thumb_evolve.png'%>" />
    </div>

     <div class='box'>
            <img src="<%= asset_path 'thumb_engineer.png'%>" />
    </div>
    
    <div class='box'>
            <img src="<%= asset_path 'thumb_jumpship.png'%>" />
    </div>


  </nav>

<div>

<script>
$('.box').on('mouseover', function(event) {
        $(event.currentTarget).css("background-color", "blue");
});

$('.box').on('mouseleave', function() {
        $(this).css("background-color", "yellow");
});
</script>
