<div class="dashboard_previous">

  <p>Total number of Tasks last month: <%= @tasks[:tasks_previous_month].count %></p>
    <p>Complete: <%= @tasks[:tasks_previous_month].status_complete.count %></p>
      <p>In-Progress: <%= @tasks[:tasks_previous_month].status_in_progress.count %></p>
        <p>To Do: <%= @tasks[:tasks_previous_month].status_to_do.count %></p>
  <p>Number of BAU tasks last month: <%= @tasks[:baus_previous_month].count %></p>
    <p>Complete: <%= @tasks[:baus_previous_month].status_complete.count %></p>
      <p>In-Progress: <%= @tasks[:baus_previous_month].status_in_progress.count %></p>
        <p>To Do: <%= @tasks[:baus_previous_month].status_to_do.count %></p>

  <p>Number of Project tasks last month:<%= @tasks[:projects_previous_month].count %></p>
    <p>Complete: <%= @tasks[:projects_previous_month].status_complete.count %></p>
      <p>In-Progress: <%= @tasks[:projects_previous_month].status_in_progress.count %></p>
        <p>To Do: <%= @tasks[:projects_previous_month].status_to_do.count %></p>

</div>