<h1> Dashboard CM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'dashboard_current' %>

<h1> Dashboard PM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'dashboard_previous' %>

<h1> BAU list CM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'baus_current' %>
  
<h1> BAU list PM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'baus_previous' %>

<h1> Project list CM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'projects_current' %>

<h1> Project list PM </h1>
<h3>Team: <%= @team.name %></h3>

<%= render 'projects_current' %>

<script>

var ctx = document.getElementById("myChart_bar").getContext("2d");

var options = {}

var data = {
  labels : ["January","February","March","April","May","June","July"],
  datasets : [
    {
      fillColor : "rgba(220,220,220,0.5)",
      strokeColor : "rgba(220,220,220,1)",
      pointColor : "rgba(220,220,220,1)",
      pointStrokeColor : "#fff",
      data : <%= @test %>
    },

    {
      fillColor : "rgba(151,187,205,0.5)",
      strokeColor : "rgba(151,187,205,1)",
      pointColor : "rgba(151,187,205,1)",
      pointStrokeColor : "#fff",
      data : [28,48,40,19,96,27,100]
    }
  ]
}

new Chart(ctx).Line(data,options);

var ctx = document.getElementById("myChart_pie").getContext("2d");

var options = {}

var data = [
  {
    value: <%= @tasks[:tasks_this_month].status_complete.count %>,
    color:"#F38630"
  },
  {
    value : <%= @tasks[:tasks_this_month].status_in_progress.count %>,
    color : "#E0E4CC"
  },
  {
    value : <%= @tasks[:tasks_this_month].status_to_do.count %>,
    color : "#69D2E7"
  }     
]

new Chart(ctx).Pie(data,options);

</script>

