<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= javascript_include_tag "tooltip.js" %>
<%= render 'shared/profile' %>
<%= render 'shared/sidebar' %>

<%= yield %>


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</body>

</html>
